<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rui.boo.mapper.ProjectMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="baseResultMap" type="com.rui.boo.domain.Project">
        <!-- ID -->
        <id column="id" property="id"/>
        <!-- 项目id -->
        <result column="project_id" property="projectId"/>
        <!-- 项目名称 -->
        <result column="name" property="name"/>
        <!-- 备注 -->
        <result column="remark" property="remark"/>
        <!-- 删除标识：1：未删除；0：已删除 -->
        <result column="del_flag" property="delFlag"/>
        <!-- 创建时间 -->
        <result column="create_time" property="createTime"/>
        <!-- 更新时间 -->
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="baseColumnList">
        `id`,
        `project_id`,
        `name`,
        `remark`,
        `del_flag`,
        `create_time`,
        `update_time`
    </sql>

    <insert id="insert">
        INSERT INTO t_base_project
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="domain.id != null">`id`,</if>
            <if test="domain.projectId != null">`project_id`,</if>
            <if test="domain.name != null">`name`,</if>
            <if test="domain.remark != null">`remark`,</if>
            <if test="domain.delFlag != null">`del_flag`,</if>
            <if test="domain.createTime != null">`create_time`,</if>
            <if test="domain.updateTime != null">`update_time`,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="domain.id != null">#{domain.id},</if>
            <if test="domain.projectId != null">#{domain.projectId},</if>
            <if test="domain.name != null">#{domain.name},</if>
            <if test="domain.remark != null">#{domain.remark},</if>
            <if test="domain.delFlag != null">#{domain.delFlag},</if>
            <if test="domain.createTime != null">#{domain.createTime},</if>
            <if test="domain.updateTime != null">#{domain.updateTime},</if>
        </trim>
    </insert>

    <insert id="insertList">
        INSERT INTO t_base_project(
        <include refid="baseColumnList"/>
        )VALUES
        <foreach collection="domains" item="domain" index="index" separator=",">
            (
                #{domain.id},
                #{domain.projectId},
                #{domain.name},
                #{domain.remark},
                #{domain.delFlag},
                #{domain.createTime},
                #{domain.updateTime}
            )
        </foreach>
    </insert>

    <update id="update">
        UPDATE t_base_project
        <set>
            <if test="domain.id != null">`id` = #{domain.id},</if>
            <if test="domain.projectId != null">`project_id` = #{domain.projectId},</if>
            <if test="domain.name != null">`name` = #{domain.name},</if>
            <if test="domain.remark != null">`remark` = #{domain.remark},</if>
            <if test="domain.delFlag != null">`del_flag` = #{domain.delFlag},</if>
            <if test="domain.createTime != null">`create_time` = #{domain.createTime},</if>
            <if test="domain.updateTime != null">`update_time` = #{domain.updateTime},</if>
        </set>
        WHERE `id` = #{domain.id}
    </update>

    <select id="select" resultMap="baseResultMap">
        SELECT
        <include refid="baseColumnList"/>
        FROM t_base_project
        <if test="domain != null">
            <where>
                <if test="domain.id != null">AND `id` = #{domain.id}</if>
                <if test="domain.projectId != null">AND `project_id` = #{domain.projectId}</if>
                <if test="domain.name != null">AND `name` = #{domain.name}</if>
                <if test="domain.remark != null">AND `remark` = #{domain.remark}</if>
                <if test="domain.delFlag != null">AND `del_flag` = #{domain.delFlag}</if>
                <if test="domain.createTime != null">AND `create_time` = #{domain.createTime}</if>
                <if test="domain.updateTime != null">AND `update_time` = #{domain.updateTime}</if>
            </where>
        </if>
    </select>

    <select id="selectOne" resultMap="baseResultMap">
        SELECT
        <include refid="baseColumnList"/>
        FROM t_base_project
        <if test="domain != null">
            <where>
                <if test="domain.id != null">AND `id` = #{domain.id}</if>
                <if test="domain.projectId != null">AND `project_id` = #{domain.projectId}</if>
                <if test="domain.name != null">AND `name` = #{domain.name}</if>
                <if test="domain.remark != null">AND `remark` = #{domain.remark}</if>
                <if test="domain.delFlag != null">AND `del_flag` = #{domain.delFlag}</if>
                <if test="domain.createTime != null">AND `create_time` = #{domain.createTime}</if>
                <if test="domain.updateTime != null">AND `update_time` = #{domain.updateTime}</if>
            </where>
        </if>
        LIMIT 1
    </select>

</mapper>