<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rui.boo.mapper.RoleMenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="baseResultMap" type="com.rui.boo.domain.RoleMenu">
        <!-- 用户 -->
        <id column="id" property="id"/>
        <!-- 角色id -->
        <result column="role_id" property="roleId"/>
        <!-- 菜单id -->
        <result column="menu_id" property="menuId"/>
        <!-- 创建时间 -->
        <result column="create_time" property="createTime"/>
        <!-- 更新时间 -->
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="baseColumnList">
        `id`,
        `role_id`,
        `menu_id`,
        `create_time`,
        `update_time`
    </sql>

    <insert id="insert">
        INSERT INTO t_base_role_menu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="domain.id != null">`id`,</if>
            <if test="domain.roleId != null">`role_id`,</if>
            <if test="domain.menuId != null">`menu_id`,</if>
            <if test="domain.createTime != null">`create_time`,</if>
            <if test="domain.updateTime != null">`update_time`,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="domain.id != null">#{domain.id},</if>
            <if test="domain.roleId != null">#{domain.roleId},</if>
            <if test="domain.menuId != null">#{domain.menuId},</if>
            <if test="domain.createTime != null">#{domain.createTime},</if>
            <if test="domain.updateTime != null">#{domain.updateTime},</if>
        </trim>
    </insert>

    <insert id="insertList">
        INSERT INTO t_base_role_menu(
        <include refid="baseColumnList"/>
        )VALUES
        <foreach collection="domains" item="domain" index="index" separator=",">
            (
                #{domain.id},
                #{domain.roleId},
                #{domain.menuId},
                #{domain.createTime},
                #{domain.updateTime}
            )
        </foreach>
    </insert>

    <update id="update">
        UPDATE t_base_role_menu
        <set>
            <if test="domain.id != null">`id` = #{domain.id},</if>
            <if test="domain.roleId != null">`role_id` = #{domain.roleId},</if>
            <if test="domain.menuId != null">`menu_id` = #{domain.menuId},</if>
            <if test="domain.createTime != null">`create_time` = #{domain.createTime},</if>
            <if test="domain.updateTime != null">`update_time` = #{domain.updateTime},</if>
        </set>
        WHERE `id` = #{domain.id}
    </update>

    <select id="select" resultMap="baseResultMap">
        SELECT
        <include refid="baseColumnList"/>
        FROM t_base_role_menu
        <if test="domain != null">
            <where>
                <if test="domain.id != null">AND `id` = #{domain.id}</if>
                <if test="domain.roleId != null">AND `role_id` = #{domain.roleId}</if>
                <if test="domain.menuId != null">AND `menu_id` = #{domain.menuId}</if>
                <if test="domain.createTime != null">AND `create_time` = #{domain.createTime}</if>
                <if test="domain.updateTime != null">AND `update_time` = #{domain.updateTime}</if>
            </where>
        </if>
    </select>

    <select id="selectOne" resultMap="baseResultMap">
        SELECT
        <include refid="baseColumnList"/>
        FROM t_base_role_menu
        <if test="domain != null">
            <where>
                <if test="domain.id != null">AND `id` = #{domain.id}</if>
                <if test="domain.roleId != null">AND `role_id` = #{domain.roleId}</if>
                <if test="domain.menuId != null">AND `menu_id` = #{domain.menuId}</if>
                <if test="domain.createTime != null">AND `create_time` = #{domain.createTime}</if>
                <if test="domain.updateTime != null">AND `update_time` = #{domain.updateTime}</if>
            </where>
        </if>
        LIMIT 1
    </select>

</mapper>