<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>HOME</title>
    <LINK REL="stylesheet" th:href="@{/static/css/layui.css}">
</head>
<body class="layui-layout-body">

<div class="layui-layout layui-layout-admin">
    <div class="layui-header layui-bg-green">

        <div class="layui-logo">boo管理系统</div>

        <!-- 头部区域-->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="">控制台</a></li>
            <li class="layui-nav-item"><a href="">商品管理</a></li>
            <li class="layui-nav-item"><a href="">用户</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">其它系统</a>
                <dl class="layui-nav-child">
                    <dd><a href="">邮件管理</a></dd>
                    <dd><a href="">消息管理</a></dd>
                    <dd><a href="">授权管理</a></dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <i class="layui-icon layui-icon-username" style="color: #FF5722;"></i>
                    姓名
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="">退了</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-cyan">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree layui-bg-cyan" lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">所有商品</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" class="site-demo-active" data-url="/boo/main" data-id="11" data-title="选项a" data-type="tabAdd">列表一</a></dd>
                        <dd><a href="javascript:;" class="site-demo-active" data-url="a1" data-id="111" data-title="选项a1" data-type="tabAdd">列表二</a></dd>
                        <dd><a href="javascript:;" class="site-demo-active" data-url="a2" data-id="112" data-title="选项a2" data-type="tabAdd">列表三</a></dd>
                        <dd><a href="">超链接</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">解决方案</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">列表一</a></dd>
                        <dd><a href="javascript:;">列表二</a></dd>
                        <dd><a href="">超链接</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="">云市场</a></li>
                <li class="layui-nav-item"><a href="">发布商品</a></li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <div class="layui-tab layui-tab-brief" lay-filter="main_tab" lay-allowclose="true" style="padding-top:5px; margin-top:0px;">
            <ul class="layui-tab-title">
                <li class="layui-this" lay-id="main_page">主页</li>
            </ul>
            <div class="layui-tab-content" style="height: 100px;">
                <div class="layui-tab-item layui-show">这里是主页</div>
            </div>
        </div>
    </div>

    <div class="layui-footer">
        Hello World!!!
    </div>
</div>
<script th:src="@{/static/jquery-3.3.1.min.js}"></script>
<script th:src="@{/static/layui.js}"></script>
<script th:src="@{/static/boo/js/main.js}"></script>
</body>
</html>