<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common-src :: common_header(~{::title},~{})">
    <title>HOME</title>
</head>

<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">

    <div class="layui-header layui-bg-green">
        <div class="layui-logo" style="color: darkslategray;">后台管理系统</div>
        <ul class="layui-nav layui-layout-left">
            <span class="layui-icon layui-icon-shrink-right layui-icon-shrink-left"
                  id="animation-left-nav"
                  style="font-size: 30px; color: orangered;"></span>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <i class="layui-icon layui-icon-username" style="color: #FF5722;"></i>
                    姓名
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="">退了</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-cyan">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree layui-bg-cyan" lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed" th:each="menuTree:${menuTree}">
                    <a href="javascript:;"
                       th:class="'layui-icon '+ ${menuTree.parent.icon}"
                       th:text="${menuTree.parent.name}"></a>
                    <dl class="layui-nav-child" th:each="menu:${menuTree.menus}">
                        <dd>
                            <a href="javascript:;" data-type="tabAdd"
                               th:class="'menu-active layui-icon '+ ${menu.icon}"
                               th:attr="data-url=${menu.path},data-id=${menu.menuId},data-title=${menu.name}"
                               th:text="${menu.name}"></a>
                        </dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <div class="layui-tab layui-tab-brief" lay-filter="main_tab" lay-allowclose="true" style="padding-top:5px; margin-top:0px;">
            <ul class="layui-tab-title">
                <li class="layui-this" lay-id="main_page">主页</li>
            </ul>
            <div class="layui-tab-content" th:insert="~{main :: main_page}"></div>
        </div>
    </div>

    <div class="layui-footer" th:insert="~{footer :: copy}"></div>

</div>

<th:block th:replace="common-src :: common_js"/>
<script th:src="@{/boo/js/home.js}"></script>

</body>
</html>