<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common-src :: common_header(~{::title},~{})">
    <title>project</title>
</head>

<body>

<fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
    <legend>项目</legend>
</fieldset>

<a class="layui-btn layui-btn-primary" style="margin: 10px;"
   th:each="project:${projects}"
   th:text="${project.name}"
   th:href="'/home/' + ${project.projectId}">
</a>

<th:block th:replace="common-src :: common_js"/>
</body>
</html>