<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common-src :: common_header(~{::title},~{})">
    <title>LOGIN</title>
</head>

<body>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
    <legend>LOGIN</legend>
</fieldset>

<form class="layui-form" action="/login" method="post">
    <div class="layui-form-item">
        <label class="layui-form-label"></label>
        <div class="layui-input-inline" id="msgTxt" style="color: red;" th:text="${message}"></div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"><i class="layui-icon layui-icon-username"></i></label>
        <div class="layui-input-inline">
            <input type="text" class="layui-input" name="username" style="width: 200px;"
                   autocomplete="off" placeholder="请输入用户名">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"><i class="layui-icon layui-icon-password"></i></label>
        <div class="layui-input-inline">
            <input type="password" class="layui-input" name="password" style="width: 200px;"
                   placeholder="请输入密码" autocomplete="off">
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="login">LOGIN</button>
        </div>
    </div>
</form>

<hr class="layui-bg-red">
<hr class="layui-bg-orange">
<hr class="layui-bg-green">
<hr class="layui-bg-cyan">
<hr class="layui-bg-blue">
<hr class="layui-bg-black">
<hr class="layui-bg-gray">

<th:block th:replace="common-src :: common_js"/>
<script th:src="@{/boo/js/login.js}"></script>
</body>
</html>