<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common-src :: common_header(~{::title},~{::style})">
    <title>用户</title>
    <style type="text/css">
    </style>
</head>

<body>

<form class="layui-form layui-form-pane" id="testForm" lay-filter="searchFilter" action="">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">姓名</label>
            <div class="layui-input-inline">
                <input type="text" name="name" value="测试姓名" placeholder="请输入姓名" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">账户名</label>
            <div class="layui-input-inline">
                <input type="text" name="account" placeholder="请输入账户名" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">email</label>
            <div class="layui-input-inline">
                <input type="text" name="email" placeholder="请输入邮箱" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">状态</label>
            <div class="layui-input-inline">
                <select name="userStatus">
                    <option value="">--</option>
                    <option value="0">禁用</option>
                    <option value="1">正常</option>
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">注册时间</label>
            <div class="layui-input-inline">
                <input type="text" id="beginTimeText" class="layui-input" name="beginTime" placeholder="起始时间">
            </div>
            <div class="layui-input-inline">
                <input type="text" id="endTimeText" class="layui-input" name="endTime" placeholder="结束时间">
            </div>
        </div>
    </div>
</form>

<table class="layui-hide" id="listTable" lay-filter="listTable"></table>

<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="add">新增</button>
        <button class="layui-btn layui-btn-sm" lay-event="search">查询</button>
    </div>
</script>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<th:block th:replace="common-src :: common_js"/>

<script type="application/javascript">
    layui.use(['form', 'table', 'laydate'], function () {
        var table = layui.table,
            form = layui.form,
            layDate = layui.laydate;

        layDate.render({
            elem: '#beginTimeText'
            , type: 'datetime'
        });
        layDate.render({
            elem: '#endTimeText'
            , type: 'datetime'
        });

        table.render({
            elem: '#listTable'
            , url: '/user/list'
            , toolbar: '#toolbarDemo'
            , loading: 'true'
            , defaultToolbar: ['filter', 'exports', 'print', {
                title: '提示'
                , layEvent: 'LAYTABLE_TIPS'
                , icon: 'layui-icon-tips'
            }]
            , title: '用户数据表'
            , cols:
                [
                    [
                        {type: 'checkbox', fixed: 'left'}
                        , {field: 'id', title: 'ID', width: 80, fixed: 'left', unresize: true, sort: true}
                        , {field: 'name', title: '用户名', width: 120}
                        , {field: 'password', title: '密码', width: 120}
                        , {field: 'account', title: '账户', width: 120}
                        , {
                        field: 'email', title: '邮箱', width: 150, templet: function (res) {
                            return '<em>' + res.email + '</em>'
                        }
                    }
                        , {
                        field: 'userStatus', title: '状态', width: 80, sort: true,
                        templet: function (res) {
                            return res.userStatus == 1 ? "正常" : "禁用"
                        }
                    }
                        , {
                        field: 'delFlag', title: '删除标识', width: 100,
                        templet: function (res) {
                            return res.delFlag == 1 ? "正常" : "已删除"
                        }
                    }
                        , {field: 'createTime', title: '创建时间', width: 180, sort: true}
                        , {field: 'updateTime', title: '更新时间', width: 180, sort: true}
                        , {fixed: 'right', title: '操作', toolbar: '#barDemo', width: 150}
                    ]
                ]
            , page: true
        });

        //头工具栏事件
        table.on('toolbar(listTable)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            switch (obj.event) {
                case 'getCheckData':
                    var data = checkStatus.data;
                    layer.alert(JSON.stringify(data));
                    break;
                case 'getCheckLength':
                    var data = checkStatus.data;
                    layer.msg('选中了：' + data.length + ' 个');
                    break;
                case 'isAll':
                    alert("fck");
                    table.reload({ //其它参数在此省略
                        url: '/user/list'
                        , where: {name: 'ruijie.zhang'} //如果无需传递额外参数，可不加该参数
                        //method: 'post' //如果无需自定义HTTP类型，可不加该参数
                        //request: {} //如果无需自定义请求参数，可不加该参数
                        //response: {} //如果无需自定义数据响应名称，可不加该参数
                    });
                    layer.msg(checkStatus.isAll ? '全选' : '未全选');
                    break;
                case 'search':
                    var searchData = {};
                    var formData = $('#testForm').serializeArray();
                    $.each(formData, function() {
                        searchData[this.name] = this.value;
                    });
                    table.reload("listTable", {
                        where: searchData
                    });
                    break;

                //自定义头工具栏右侧图标 - 提示
                case 'LAYTABLE_TIPS':
                    layer.alert('这是工具栏右侧自定义的一个图标按钮');
                    break;
            }
            ;
        });

        //监听行工具事件
        table.on('tool(listTable)', function (obj) {
            var data = obj.data;
            //console.log(obj)
            if (obj.event === 'del') {
                layer.confirm('真的删除行么', function (index) {
                    obj.del();
                    layer.close(index);
                });
            } else if (obj.event === 'edit') {
                layer.prompt({
                    formType: 2
                    , value: data.email
                }, function (value, index) {
                    obj.update({
                        email: value
                    });
                    layer.close(index);
                });
            }
        });
    });
</script>


</body>
</html>